
*{
   margin: 0;
   padding: 0;
   overflow: hidden;
}
#main_LogoMask{
   width: 100%;
   height: 100vh;
   background-color: #29384F;
}
.main_Logo{
   position: absolute;
   display: block;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);    
   animation: fill-anm 1.6s cubic-bezier(0.22, 0.61, 0.36, 1) forwards 1.8s;
}
.main_Logo2{
   position: absolute;
   display: block;
   top: 50%;
   left: 50%;
}
.main_Logo path:nth-child(2){
   stroke-dasharray: 306.48052978515625px;
   stroke-dashoffset: 306.48052978515625px;
   animation: line-anm 2s ease forwards 0s;
}
.main_Logo path:nth-child(3){
   stroke-dasharray: 410.8741760253906px;
   stroke-dashoffset: 410.8741760253906px;
   animation: line-anm 2s ease forwards 000ms;
}
.main_Logo path:nth-child(4){
   stroke-dasharray: 437.1019592285156px;
   stroke-dashoffset: 437.1019592285156px;
   animation: line-anm 2s ease forwards 000ms;
}
.main_Logo path:nth-child(5){
   stroke-dasharray: 449.4881591796875px;
   stroke-dashoffset: 449.4881591796875px;
   animation: line-anm 3.2s ease forwards 300ms;
}
.main_Logo path:nth-child(6){
   stroke-dasharray: 345.2344665527344px;
   stroke-dashoffset: 345.2344665527344px;
   animation: line-anm 3s ease forwards 00ms;
}
.main_Logo path:nth-child(7){
   stroke-dasharray: 449.48858642578125px;
   stroke-dashoffset: 449.48858642578125px;
   animation: line-anm 3.2s ease forwards 300ms;
}
.main_Logo path:nth-child(8){
   stroke-dasharray: 345.23529052734375px;
   stroke-dashoffset: 345.23529052734375px;
   animation: line-anm 3s ease forwards 00ms;
}
@keyframes line-anm {
   to{
      stroke-dashoffset: 0px;
   }      
}
@keyframes fill-anm {
   from{fill:transparent;}
   to{fill: white;}
}